.NavBar {
  height: calc(3rem - 6px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: calc(98% - 6px);
  margin-left: 1%;
  background: rgb(141,48,118);
  background: linear-gradient(61deg, rgba(141,48,118,1) 5%, rgba(227,121,40,1) 52%, rgba(251,189,33,1) 100%);
  border: 3px solid #000000;
  border-radius: .75rem;

  display: flex;
  flex-direction: row;


  .NavBarSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.33;
    justify-content: center;
    align-content: center;
  }

  .NavBarLogo {
    display: flex;
    flex-direction: row;
    height: 75%;
    margin-left: .5rem;
  }  
}